{% extends 'layouts/base.html' %} {% block content %}

<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, eum saepe
  rem, iste beatae obcaecati omnis laboriosam autem dignissimos quisquam
  possimus! Accusantium nihil illo ipsum iste dignissimos aut quod inventore
  voluptates sequi! Quibusdam tempore temporibus a dignissimos labore libero
  provident tempora in, ex pariatur ipsa nihil maxime, id debitis? Suscipit rem
  soluta dolore molestias. Veniam eaque reprehenderit esse quam? Excepturi
  assumenda soluta illum ducimus fugiat dolores maiores explicabo cupiditate
  iste voluptas id repudiandae quas laborum, quia ullam culpa iusto aut sunt
  quis minus reprehenderit. Ut, saepe! Eum doloremque sequi dolore aliquam.
  Atque magnam itaque, assumenda dolore veritatis voluptate nam totam.
</p>
<p>Website created by {{username}}</p>
{% endblock content %}
