{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<h1>{{title}}</h1>
<img src="{% static '168.jpg' %}" alt="image" width="70" />
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit debitis dicta
  nostrum accusamus explicabo, amet magnam ex. Atque similique ipsam distinctio
  magnam velit magni, a minus recusandae quis consequuntur, illum culpa maxime
  eos inventore laborum debitis. Dolor, perspiciatis? Aut natus culpa odit
  necessitatibus voluptas libero consequuntur quia ad eos ex voluptatum, fugiat
  ipsum laudantium ratione, quas nihil eum quae repudiandae temporibus.
  Asperiores odit velit beatae recusandae eius. Possimus, at deserunt, iusto
  dolorum fugit sapiente delectus quas excepturi perspiciatis vero adipisci
  veniam maiores! Est quas laborum quidem perspiciatis aspernatur! Veniam
  aspernatur reiciendis magnam minus rem odit aliquid aliquam quae officiis
  rerum?
</p>
{% endblock content %}
