html {
  scroll-behavior: smooth;
}

* {
  background-color: #000000;
  color: #ffffff;
}

mark {
  background-color: #f55;
}

body {
  font-family: sans-serif;
}

h1 {
  color: #9ff;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #2ad;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #29d;
}

iframe {
  width: 80%;
  height: 400px;
}
